<div class="main-content">
  <div class="container" style="padding-top: 50px;">
    <div class="row" *ngIf="!isBlock">
      <div class="col-md-3">
        <div class="d-flex flex-column">
          <div class="avatar mb-4">
            <img src="{{beeProfile.logo}}" class="avatar-bee">
          </div>
          <button class="btn btn-outline-danger mb-4 mr-5" (click)="call()">Call</button>
          <button class="btn btn-outline-danger mb-4 mr-5" (click)="openModalBook()">Book</button>
          <button class="btn btn-outline-danger mb-4 mr-5">Chat</button>
        </div>
      </div>
      <div class="col-md-9">
        <div class="info-header">
          <div class="nameBee">
            <p *ngIf="1 > 0">{{beeProfile.displayName}} </p>
            <i class="fa fa-home" aria-hidden="true"></i>
          </div>
          <div class="rate">

          </div>
          <div class="box-action">
            <button class="btn btn-outline-danger" [ngClass]="{'followed': isFollowed}" (click)="follow()">{{isFollowed
              ? 'Followed' : "Follow"}}</button>
            <button class="btn btn-outline-danger" (click)="blockAccount(report)">Report</button>
            <button class="btn btn-outline-danger" (click)="blockPanda(beeProfile.id)">Block</button>
          </div>
        </div>
        <div class="box-total d-flex flex-row-center">
          <div class="box-item pl-3">
            <p class="title">Age</p>
            <p>{{ageOfBee}} tuổi</p>
          </div>
          <div class="box-item">
            <p class="title">Followers</p>
            <p>{{beeProfile.follow.length}} người theo dõi</p>

          </div>
          <div class="box-item">
            <p class="title">
              Visitors
            </p>
            <p>123 peoples</p>
          </div>
        </div>
        <div class="box-img mt-2">
          <p class="title-box">Image</p>
          <div class="image">
            <img src="assets/images/flowers/hoa-baby.jpg">
            <img src="assets/images/flowers/images (1).jpg">
            <img src="assets/images/flowers/images (2).jpg">
            <img src="assets/images/flowers/images (3).jpg">
            <img src="assets/images/flowers/images.jpg">
          </div>
        </div>
        <div class="box-video">
          <p class="title-box">Video</p>
          <div
            style="background-image: url('https://www.youtube.com/watch?v=dZ0ryALfs3Y&list=RDMM9ZPdjzOl32s&index=3');">
          </div>
        </div>
        <div class="box-description">
          <p class="title-box">Description</p>
          <div>
            <p>{{beeProfile.bio}}
          </div>
          <div class="box-advise">
            <p class="title-box">Advise</p>
            <div *ngFor="let item of beeProfile.advise">
              <p>{{item.title}}</p>
              <p>{{item.content}}</p>
            </div>
          </div>
          <div class="box-reviews">
            <p class="title-box">Reviews</p>
            <div class="list-review">
              <!-- <div class="review-container"
                *ngFor="let r of beeProfile.review | paginate: { itemsPerPage: 6, currentPage: pageNum, totalItems: beeProfile.review.length }">
                <div class="avatar-wrap">
                  <img src="{{r.logo}}" alt="">
                </div>
                <div class="review-content">
                  <div class="review-title d-flex">
                    <p class="reviewer-name pr-2">{{r.name}}</p>
                    <div class="review-rating">
                      <span class="pr-1">{{r.reviewScore}}</span>
                      <i class="fa fa-star" aria-hidden="true" style="color: deeppink;"></i>
                    </div>
                  </div>
                  <p class="review-text">{{r.contentReview}}</p>
                </div>
              </div> -->
            </div>
            <!-- <app-rating (ratingNumber)='0%' ></app-rating> -->
          </div>

        </div>
      </div>
    </div>
    <div class="row" *ngIf="isBlock">
      <div class="col-md-3">
        <div class="d-flex flex-column">
          <div class="avatar mb-4">
            <img src="{{beeProfile.logo}}" class="avatar-bee">
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="info-header">
          <div class="nameBee">
            <p *ngIf="1 > 0">{{beeProfile.displayName}} </p>
          </div>
          
          
        </div>
        <div >
          <span>Tài khoản này không khả dụng</span>
        </div>
      </div>
    </div>
  </div>
  <ng-template #report>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Báo cáo</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalReport.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body report" [formGroup]="formReport">
      <h5>Báo cáo người dùng này</h5>
      <p>Giúp chúng tôi hiểu rõ báo cáo này bằng cách cung cấp lý do cụ thể</p>
      <div class="default-reason" *ngFor="let item of listItemDefault">
        <input type="radio" id="{{item}}" formControlName="defaultReason" value="{{item}}" class="mr-2">
        <label>{{item}}</label>
      </div>
      <div>
        <p>Other reason </p>
        <textarea formControlName="reportContent" class="other-reason"></textarea>
      </div>
      <div>
        <div class="row-img">
          <div class="img-container" *ngFor="let image of listIMG; let i = index">
            <span class="delete-img" (click)="removeEachImage(i, image.id)">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </span>
            <img [src]="image.url" alt="">
          </div>
          <label id="upload-non-member" class="img-container" *ngIf="listIMG.length < 5">
            <div class="backdrop">
              <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
            </div>
            <img src="assets/images/flowers/default-image.png" alt="">
            <input id="upload-non-member" class="d-none" type="file" multiple (change)="chooseImage($event)"
              accept="image/*" />
          </label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary mr-1" (click)="sendReport()">Xác nhận</button>
      <button class="btn btn-light" (click)="cancelReport()">Huỷ</button>
    </div>

  </ng-template>
  <ng-template #book>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Đặt lịch</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalReport.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body report">
      <h5>Chọn lịch</h5>
      <p>Giúp chúng tôi hiểu rõ báo cáo này bằng cách cung cấp lý do cụ thể</p>
      <div class="default-reason" *ngFor="let item of listItemDefault">
        <input type="checkbox" value="item.checked" class="mr-2">
        <label>{{item.reason}}</label>
      </div>
      <div>
        <p>Other reason </p>
        <textarea class="other-reason" *ngIf="1 > 0"></textarea>
      </div>
      <div>
        <div class="row-img">
          <div class="img-container" *ngFor="let image of listIMG; let i = index">
            <span class="delete-img" (click)="removeEachImage(i, image.id)">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </span>
            <img [src]="image.url" alt="">
          </div>
          <label id="upload-non-member" class="img-container" *ngIf="listIMG.length < 5">
            <div class="backdrop">
              <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
            </div>
            <img src="assets/images/flowers/default-image.png" alt="">
            <input id="upload-non-member" class="d-none" type="file" multiple (change)="chooseImage($event)"
              accept="image/*" />
          </label>
        </div>
      </div>
    </div>
    <div class="modal-footer">

    </div>

  </ng-template>
  <ng-template #templateInputHours>
    <form method="post" [formGroup]="formMeetNow">
      <div class="modal-body">
        <div>
          <label class="white bold lh-35 col-sm-12">Trò chuyện ngay bây giờ</label>
        </div>
        <div class="action">
          <div class="row mb-2" *ngIf="beeProfile.services.includes('video')">
            <div class="col-6">
              <div class="input-group form-radio">
                <input type="radio" aria-label="Video Call" id="video-service" value="video" formControlName="bookType">
                <label class="label white" for="video-service">
                  Video
                </label>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="beeProfile.services.includes('audio')">
            <div class="col-6">
              <div class="input-group form-radio">
                <input type="radio" aria-label="Audio Call" id="audio-service" value="audio" formControlName="bookType">
                <label class="label white" for="audio-service">
                  Audio
                </label>
              </div>
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="startBooking()">Xác nhân</button>
        <button type="button" class="btn btn-light" (click)="closeModalInputHours()">Huỷ</button>
      </div>
    </form>
  </ng-template>
  <ng-template #templateCall>
    <div class="modal-body text-center">
      <p>
        <i class="fa fa-phone mr-2"></i>
        <span *ngIf="!connectingCall;else connectingCal">Cuộc gọi </span>
        <ng-template #connectingCal>Đang kết nối</ng-template>
        <i class="fa fa-bell bell" aria-hidden="true"></i>

      </p>
      <button type="button" class="btn btn-warning" [disabled]="this.connectingCall" (click)="cancelCall()">Huỷ</button>
    </div>
  </ng-template>