<div>
    <h5>Connect with Peer</h5>
  
    <!-- Video & screen share container -->
    <span>PeerId: {{peerId}}</span>
    <div style="width: 400px; height: 500px; border: 2px solid" id="remote-video"></div>
  
    <br>
    <div style="margin-top: 20px;">
      <input type="text" placeholder="Peer Id" [(ngModel)]='peerIdShare' />
      <button class="button" (click)="connectWithPeer()">Call Peer</button>
      <button class="button" (click)="screenShare()">Screen share</button>
      <button class="btn" (click)="endPeer(this.peerIdShare)">Endcall</button>
    </div>
  </div>
  <button class="btn" (click)="test()">Test</button>
  <ng-template #notificationCall>
    <div class="modal-header">
    </div>
    <div class="modal-body">
     <p>Có cuộc gọi đến</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning mr-3"  (click)="declineMeeting()">{{
        Từ chối</button>
      <button class="btn btn-primary"  (click)="pandaAcceptMeeting()">{{
        Chấp nhận</button>
    </div>
  </ng-template>
  