<footer class="footer" id="footer-top">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <a class="navbar-brand" >
            <div class="logo-container" (click)="scrollToTop()">
                <img class="logo" src="assets/images/beauty-logo.png" alt="logo" alt="Image">
            </div>
        </a>
        <div class="box-icon">
            <a href="https://www.facebook.com/sparklepandas" target="_blank" class="btn btn-clear">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank" class="btn btn-clear">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/" target="_blank" class="btn btn-clear">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
            <a href="https://www.wechat.com/" target="_blank" class="btn btn-clear">
                <i class="fa fa-weixin icon icon-wechat" aria-hidden="true"></i>
            </a>
        </div>
        <div class="nav-bottom">
            <a href="" class="text-link" >FAQ</a>
            <a href="javascript:;" class="text-link">Contact</a>
            <a href="" class="text-link" >Term service</a>
            <a href="" class="text-link"  >Privacy</a>
        </div>
    </div>
    <div class="scroll-to-top" >
        <button (click)="scrollToTop()">
            <i class="fa fa-arrow-up"></i>
        </button>
    </div>
    

</footer>