<div class="left-nav">
    <div id="sidebar" class="sidebar-left col-md-3 col-xl-2">
        <div class="list-group" *ngIf="follower_bee?.length > 0">
          <h3 class="sub-title">Bee bạn đang theo dõi</h3>
          <ul class="list-item">
            <li class="d-flex justify-content-between align-items-center align-items-center" *ngFor="let item of follower_bee">
              <div class="d-flex" (click)="navigateToDetail(item.displayName,item.id)">
                <img src="{{item.logo}}" alt="avata" />
                <p class="nav-name">{{item.displayName}} </p>
              </div>
              <span class="status {{item.status}}"></span>
            </li>
          </ul>
        </div>
        <div class="list-group" *ngIf="recommended_bee?.length > 0">
          <h3 class="sub-title">Bee được gợi ý</h3>
          <ul class="list-item">
            <li class="d-flex justify-content-between align-items-center" *ngFor="let item of recommended_bee; index as i" >
              <div class="d-flex" (click)="navigateToDetail(item.displayName,item.id)" *ngIf="i < 10">
                <img src="{{item.logo}}" alt="avata" />
                <p class="nav-name">{{item.displayName}} </p>
              </div>
              <span *ngIf="i < 10" class="status {{item.status}}" ></span>
            </li>
          </ul>
        </div>
      </div>
</div>
