<div class="modal-header">
    <h4 class="modal-title pull-left">{{ confirmTitle }}</h4>
    <button type="button" class="close pull-right" (click)="cancel()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <img class="crying-girl-x" src="../../../assets/images/crying.png" /> -->
  
    <p class="white">{{ confirmText }}</p>
    <p class="white" *ngIf="textDetail != null">{{textDetail}}</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" *ngIf="!confirmShowGuide" (click)="confirm()"   [disabled]="loading||disabled">{{ confirmButton }}</button>
    <button class="btn btn-primary" *ngIf="confirmShowGuide" (click)="confirm()" onclick="startIntro();" >{{ confirmButton }}</button>
    <button class="btn btn-primary btn-other" (click)="anotherTime()">{{ anotherTimeButton }}</button>
    <button class="btn btn-light" (click)="cancel()" *ngIf="cancelButton != null">{{ cancelButton }}</button>
  </div>
  <button type="button" class="close crying-close" (click)="cancel()" aria-label="Close" *ngIf="showIconClose">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
  
